*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #333;
}
section{
    background-color: white;
    width: 95%;
    height: 780px;
    font-family:Arial, Helvetica, sans-serif ;
    margin: 20px auto;
    position: relative;
    border-radius: 14px;
}
nav{
    width: 5%;
    /* width: 220px; */
    height: 100%;
    background-color: #3f3d56;
    float: left;
    position: absolute;
    transition: 0.5s ease-in-out;
}
ul{
    width: 100%;
    height: 100%;
    padding: 20px;
}
ul li{
    list-style: none;
}
nav ul li{
    height: 60px;
    line-height: 60px;
    width: 100%;
}
li a{
    text-decoration: none;
    color: white;
}
main{
    width: 85%;
}
main header{
    display: flex;
    justify-content: flex-end;
}
main header a{
    padding: 0 5px;
    margin: 0 15px;
}
.toggle-nav{
    position: absolute;
    top: 10px;
    left: 6%;
}
.checkbox-nav{
    display: none;
}
label .fa-times {
    display: none;
}
input.checkbox-nav:checked ~ nav{
    width: 20%;
}
input.checkbox-nav:checked ~ label .fa-times{
    display: inline-block;
}
input.checkbox-nav:checked ~ label .fa-bars{
    display: none;
}
input.checkbox-nav:checked ~ .toggle-nav{
    left: 20.2%;
}